
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: rgb(75, 223, 70);
    font-family: 'Silkscreen', cursive;
;
}
body{
    margin: 0%;
    background-image:url(/img/paginaprincipal/fondo);
    min-height: 100vh;
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#logo{

    background-image: url(/img/paginaprincipal/Logotiporetro.png);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    font-size: 0%;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 80px;
}
#mario{
    width: 900px;
    height: 600px;
    padding-left: 250px;
}
#mega{
    width: 900px;
    height: 600px;
    padding-left: 250px;
}
#pacman{
    width: 900px;
    height: 600px;
    padding-left: 250px;
}
h2{
    padding: 80px;
    text-align: center;
}
.games{
    padding-top: 5%;
    float: left;
    padding-right: 60px;
}

.tituloslide{
    background: rgb(179, 63, 144);
   
    text-shadow: 1px 1px rgb(0, 0, 0);

}

 footer{
    padding-top: 30%;
   
 }
 h3{
    text-align: center;
 }
