:root{
    /*Paleta de colores 
    p:Color Primario
    s1:Segundo color mas fuerte
    s2:Tercer color mas fuerte
    s3:cuarto color mas fuerte
    s4:quinto color mas fuerte
    */
--p: #4b1c71;
--s1: #7f4ca5;
--s2: #b57edc;
--s3: #dbb6ee;
--s4: #fff0ff;
--c3:black; /*Es el color negro */
--c2:white; /*Es el color blanco, principalmente usado para las fuentes de los botones */
--c1:red; /*Es el rojo de fuente usado para algunos botones en el hover */
--bp: none; /*Es un borde que generalmente uso para probar como estan posicionados ciertos elementos */
--bf:1px solid black; /*Es el borde de los elementos que se quedaran con dicho borde en el final del proyecto, es 
decir, no son bordes de prueba como los --bp */
--cbp1: #38726c;
--cbp2: #563f1b;
--cbp3: #d34e24;
--cbp4: #f28123;
--cbp5: #f7f052;
}


*{
    padding: 0;
    margin: 0;
}

#contenedorCompleto{
width: 100vw;
height: 100vh;
background-color: var(--s2);
display: flex;
justify-content: center;
align-items: center;
}

#gameBoy{
    width:50vw;
    height:98%;
    background-color: var(--s1);
}


#parteArriba{
border: var(--bf);
height: 70%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

#parteAbajo{
    border: var(--bf);
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#pantalla{
height: 80%;
width: 80%;
background-color: var(--s3);
border: var(--bf);
border-radius: 10px;
background-image: url("../img/mapas/mapa1.jpg");
background-size: 100% 104%;
background-repeat: no-repeat;
overflow: hidden;
}


.botones{ /*Estos son los contenedores de los botones*/
    height: 100%;
    width: 100%;
    /*
    border: var(--bp); */
    
}

.arribaAbajo{  /*Flechas Arriba y Abajo*/
    width: 4vw;
    height: 8vh;
    background-color: var(--c3);
    color: var(--c2);
}

.arribaAbajo:hover{  /*Flechas Arriba y Abajo*/
    color: var(--c1);}

.izquierdaDerecha{ /*Flechas izquierda y derecha*/

    color: var(--c2);
    background-color: var(--c3);
    width:6vw ;
    height: 100%;
}

.izquierdaDerecha:hover{ /*Flechas izquierda y derecha*/
    color: var(--c1);}



#cuadradoCentro{ /*Esto es un cuadrado en el centro de las flechas para que no quede un espacio*/
    width: 2vw;
    height: 6vh;
    background-color: var(--c3);
    border: var(--bf);
   
}

.ayb{ /*Botom A y Botom B*/
    height:8vh ;
    width: 5vw;
    border-radius: 25px;
    color: var(--c2);
    background-color: var(--c3) ;
    position: relative;
    top: 20%;
    left: 30%;
}


.ayb:hover{ /*Botom A y Botom B*/

    color: var(--c1);

}


#botomA{
    position: relative;
    top: 40%;
}

.sys{
    height: 6vh ;
    width:8vw ;
    margin: 3%;
    transform: rotate(-30deg);
    color: var(--c2);
    background-color: var(--c3);
}

.sys:hover{
    
color: var(--c1);
}

#contenedorSYS{
    display: flex;
    justify-content: center;
    align-items: center;
}

#mapa{
    height:100%;
    width:100% ;
    
}

#prueba{
    height: 20%;
    width: 20%;
}

#paraPosicionarPersonaje{
    border: var(--bp);
    border-color: var(--cbp);
    height: 90%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    width: 50%;
}

#pers2{
    height: 95%;
    width: 75%;
}
#paraPonerDatos{
    width: 100%;
    height: 21%;
    border: var(--bp);
    border-color: var(--cbp);
}

#contenedorPersonajesArriba{
border: var(--bp);
height: 30%;
width: 30%;
}

#paraPosicionarPersonajesAbajo{
    border: var(--bp);
height: 30%;
width: 30%;
}

#contenedorA{
    width: 100%;
    height: 30%;
    border: var(--bp);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#contenedorCentral{
    display: flex;

    border: var(--bp);
    height: 20%;
    width: 100%;
    justify-content:space-between;
    
}

#contenedorI{
    width: 44%;
    height: 100%;
    border: var(--bp);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

#contenedorAb{
    border: var(--bp);
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;

}
#contenedorD{
    width: 43%;
    height: 100%;
    border: var(--bp);
    display: flex;
    align-items: center;
}

#paraPonerDatos{
    color: white;
}

.coordenadas{
    display: inline;
}


#paraPosicionarEdificios{
    border: var(--bp);
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

#characters{
    display: flex;
    height: 60%;
    border: var(--bp);
}

.torres{
    height: 100%;
    border: var(--bp);
    width: 30%;
}
#torreprincipal{ 
   transform: translate(2.5vw,0vh);
    height: 60%;
    width: 60%;
}